@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #A489FA;
    height: 100%;
    display: grid;
    place-items: center;
}

.main-container {
    min-height: 80vh; 
    display: grid;
    grid-template-columns: 1fr 1fr; /* Cria duas colunas com largura igual */
    
}

.botao {
    background-color: black;
    color: white;
    margin: 10px;
    border-radius: 20px;
    padding: 5px;
}

.botao:hover {
    background-color: rgba(0, 0, 0, 0.418);
}
.btnInicio {
    background-color: #A5A392;
    margin: 5px;
    width: 15vw;
    height: 15vh;
    border-radius: 20px;
    border: 2px solid black;
}
.btnInicio:hover {
    background-color: white;
    color: black;
    
}
.esconder {
    display: none;
}

.escondida {
    display: none;
}

.mostrando {
    display: block;
    margin: auto;
    border: 3px solid black;
    width: 300px;
    padding: 10px;
    background-color: #FAEF89;
}
.tela {
    background-color: #2C1085;
}
.imagem {
    
    margin: auto;
}

footer {
    width: 100%;
    margin-top: 57px;
    bottom: 0;
}